/* 
    Events
    
    events.php
*/

.cah-events {
    font-weight: 400;
    padding: 1rem;
    padding-top: 0;
}

a.cah-event-item {
    /* color: inherit; */
    text-decoration: none;
}
    a.cah-event-item:hover {
        text-decoration: none;
    }
    .cah-event-item li {
        list-style-type: none;
        margin-bottom: 0.2em;
        margin-left: -1.2em;
        padding: 1.2em;
    }
        .cah-event-item-light:hover {
            background-color:rgba(243, 243, 243, 0.9);
        }
        .cah-event-item-dark:hover {
            background-color:rgba(243, 243, 243, 0.1);
        }

.cah-event-filter-button {
    cursor: pointer;
}